<a href="https://colab.research.google.com/github/Kaushalya-Jayakody/sri-lanka-hospital-morbidity-dashboard/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Load the Excel file
file_path = "Indoor morbidity and mortality report -live discharges - 2006 - 2013.xlsx"
df = pd.read_excel(file_path, sheet_name="Data")

In [3]:
#Set proper column names using the first row of data
new_columns = df.iloc[0].tolist()

#Keep proper names for first 2 columns
new_columns[0:2] = ["Disease", "Sex"]
df.columns = new_columns

In [4]:
#Drop the first row (used as column names)
df = df.drop(index=0).reset_index(drop=True)

In [5]:
#Forward-fill missing disease names
df["Disease"] = df["Disease"].fillna(method="ffill")

<ipython-input-5-418d28bde0cf>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Disease"] = df["Disease"].fillna(method="ffill")

In [6]:
#Convert all age group columns to numeric
age_columns = df.columns[2:]  # All except Disease and Sex
for col in age_columns:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [7]:
# Check the actual column names
print(df.columns.tolist())

['Disease', 'Sex', '(<1)', '(1 - 4)', '(5 - 16)', '(17 - 49)', '(50 - 69)', '(70+)', 'N/Av', 'Total']

In [8]:
# Define actual age group column names ']
age_columns = ['<1', '1 - 4', '5 - 16', '17 - 49', '50 - 69', '70+

In [9]:
age_columns = df.columns[2:].tolist()

In [10]:
print(age_columns)

['(<1)', '(1 - 4)', '(5 - 16)', '(17 - 49)', '(50 - 69)', '(70+)', 'N/Av', 'Total']

In [11]:
# Convert from wide to long format
df_long = pd.melt(df, id_vars=['Disease', 'Sex'], value_vars=age_columns,
                  var_name='Age_Group', value_name='Count')

In [12]:
# Ensure numeric values
df_long['Count'] = pd.to_numeric(df_long['Count'], errors='coerce')

In [13]:
# Save the long format file
df_long.to_csv("cleaned_morbidity_data_long.csv", index=False)

In [14]:
#Print preview
print("Preprocessing complete. Preview of long format:")
print(df_long.head())

Preprocessing complete. Preview of long format:
                                Disease     Sex Age_Group  Count
0                         Cholera (A00)    Male      (<1)      0
1  Typhoid and para typhoid fever (A01)    Male      (<1)     16
2  Typhoid and para typhoid fever (A01)  Female      (<1)      9
3                     Shigellosis (A03)    Male      (<1)    181
4                     Shigellosis (A03)  Female      (<1)    138